// palette
$palette-bg0: #282828;
$palette-bg1: #3C3836;
$palette-bg2: #504945;
$palette-bg3: #665C54;
$palette-bg4: #7C6F64;
$palette-gray: #928374;
$palette-fg: #EBDBB2;
$palette-fg0: #FBF1C7;
$palette-fg1: #EBDBB2;
$palette-fg2: #D5C4A1;
$palette-fg3: #BDAE93;
$palette-fg4: #A89984;
$palette-red: #FB4934;
$palette-red1: #FB4934;
$palette-green: #B8BB26;
$palette-green1: #B8BB26;
$palette-yellow: #FABD2F;
$palette-yellow1: #FABD2F;
$palette-blue: #83A598;
$palette-blue1: #83A598;
$palette-purple: #D3869B;
$palette-purple1: #D3869B;
$palette-aqua: #8EC07C;
$palette-aqua1: #8EC07C;
$palette-orange: #FE8019;
$palette-orange1: #FE8019;

// Colors
$color-background: $palette-bg0;
$color-background-secondary: $palette-bg2;
$color-box-shadow: $palette-fg1;
$color-border-primary: $palette-blue;
$color-foreground: $palette-fg;

// Font size
$font-size-small: 8px;
$font-size-normal: 16px;
$font-size-large: 20px;

// Border size
$border-size-normal: 2px;
$border-style-normal: solid;

// Spacing
$space-small: 4px;
$space-normal: 8px;